body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(/images/bgBlur.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

h1 {
  margin: 0;
  padding: 0;
}

.container {
  width: 1700px;
  margin: 0 auto;
}

/* ОСНОВНОЙ ТЕКСТ */
.MegaSize_main_H1 {
  display: flex;
  justify-content: center;
  margin-top: 350px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 82px;
  text-align: center;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  line-height: 123px;

  color: #ffffff;
}

.main_H1 {
  text-align: center;
  margin-top: 40px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  line-height: 69px;

  color: #ffffff;
  transition: all 1.5s;
}
/* ОСНОВНОЙ ТЕКСТ */

/* ВЕРНУТЬСЯ НАЗАД НА ГЛАВНУЮ ССЫЛКА*/
.NavigationHeader {
  display: none;
  display: flex;
  justify-content: space-between;

  height: 159px;

  transition: all 5s;
}

.HeaderBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 123px;
  transition: all 1s;

  width: 288px;
  height: 36px;
}

.HeaderBlock:hover {
  border-bottom: 1px black;
}

.HeaderAhref {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  text-decoration: none;

  color: #ffffff;
}
.HeaderAhref:hover {
  transition: all 0.5s;
}

.backMainPageArrow {
  margin-right: 12px;

  fill: white;

  transition: all 0.5s;
}
.HeaderAhref:hover .backMainPageArrow {
  fill: rgb(255, 255, 255);
  transition: all 0.5s;
}
/* ВЕРНУТЬСЯ НАЗАД НА ГЛАВНУЮ ССЫЛКА*/

/* КАРТОЧКИ */
.stepSection {
  margin-top: 68px;
  margin-bottom: 65px;

  height: 540px;
}

.typeButtonsBlockOFF {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  transition: all 1s;
  opacity: 0;
}

.typeButtonsBlockON {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  transition: all 1s;
  opacity: 1;
}

.typeButton {
  text-align: center;
  margin-right: 10px;
  margin-bottom: 10px;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(0, 0, 0);

  border: black;
  outline: 1.5px solid #703a1b;
  border-radius: 20px;
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 36px;
  cursor: pointer;
  font-family: "Alfa Slab One", cursive;
  width: 234px;
  height: 260px;

  color: #ffffff;

  transition: all 0.5s;
}
.typeButton:hover {
  font-size: 32px;
  text-shadow: 3px 3px 3px rgb(0, 0, 0);

  transition: all 0.5s;
}

.CuisineButton {
  text-align: center;
  margin-right: 10px;
  margin-bottom: 10px;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(0, 0, 0);

  border: black;
  outline: 1.5px solid #703a1b;
  border-radius: 20px;
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 36px;
  cursor: pointer;
  font-family: "Alfa Slab One", cursive;
  width: 332px;
  height: 100px;

  color: #ffffff;

  transition: all 0.5s;
}
.CuisineButton:hover {
  font-size: 32px;
  text-shadow: 3px 3px 3px rgb(0, 0, 0);

  transition: all 0.5s;
}

.cuisineButtonsBlockOFF {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  transition: all 1s;
  /* opacity: 0;  */
}

.cuisineButtonsBlockON {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  transition: all 1s;
  opacity: 1;
}

.checked {
  /*КАРТОЧКИ ВКЛ */
  filter: grayscale(0%);
  font-size: 32px !important;
  color: #09ff00;
  outline: 4px solid #00ff15;
}
/* КАРТОЧКИ */

/* НАЖНИЯ ЧАСТЬ С КНОПКАМИ */
.NavigationFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s;

  height: 78px;
}

.BackButton {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  font-family: "Poppins", sans-serif;
  background: none;
  border-radius: 20px;
  border: 2px solid white;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  cursor: pointer;

  width: 265px;
  height: 78px;

  color: #ffffff;

  transition: all 0.5s;
}
.BackButton:hover {
  color: black;
  background-color: white;

  transition: all 0.5s;
}

.backArrow {
  fill: white;
  margin-right: 11px;
}
.BackButton:hover .backArrow {
  fill: black;
  transition: all 0.5s;
}

.NextButton {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  cursor: pointer;
  background: none;
  border-radius: 20px;
  border: 2px solid white;

  width: 214px;
  height: 78px;

  color: #ffffff;

  transition: all 0.5s;
}
.NextButton:hover {
  color: black;
  background-color: white;
  transition: all 0.5s;
  fill: black;
}

.nextArrow {
  fill: white;
  margin-left: 11px;
}
.NextButton:hover .nextArrow {
  fill: black;
  transition: all 0.5s;
}

.pageCounter {
  display: flex;
  justify-content: space-between;
  width: 140px;
  margin-right: 45px;

  transition: all 0.5s;
}

.circles {
  display: flex;
  justify-content: center;
  align-items: center;
}

.front {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  border-radius: 200px;
  z-index: 2;
}
.frontWhite {
  background-color: #ffffff;
  transition: all 0.3s;
}

.back {
  position: absolute;
  z-index: 1;
  width: 20px;
  height: 20px;
  border-radius: 200px;
  background-color: rgb(255, 255, 255);
}
.backBlack {
  background-color: rgb(0, 0, 0);
  transition: all 0.3s;
}

/* diet */

#stepDiet {
  justify-content: center;
}

.dietButtonsBlock {
  display: flex;
  flex-direction: column;
  width: 798px;
  height: 100%;
}

.dietButton {
  height: 100%;
  border: 1px solid black;
  background-color: white;
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.5s;
}
.dietButton:hover {
  font-size: 32px;
  transition: all 0.5s;
}

/* diet */

/* ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ */
.hidden {
  display: none;
  transition: all 0.3s;
}

.opacity0 {
  opacity: 0;
  transition: all 1s;
}

.opacity1 {
  opacity: 1;
  transition: all 1s;
}
/* ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ */
