.totalBg {
  background-image: url("/images/totalBg.jpg");
  background-attachment: fixed;
}

.containerTotal {
  width: 1210px;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 20px;
}

.total-MainSection {
  margin-top: 150px;
  background-color: white;
  height: 2000px;
}

.total-H1 {
  text-align: center;
  margin-top: 60px;
  font-size: 36px;
  font-weight: 500;
}
